<!-- <md-button ng-click="showToast()" id="show_toast">
  Mostrar toast
</md-button>

<a ui-sref="main.home">Teste</a>
<a ui-sref="main.home">Testea</a> -->

<div ng-controller="HomeCtrl" class="">
    <div id="wrapper" layout-align="center start">
        <!-- Main -->
        <section id="imatec_home">
            <header>
                <h1>IMATEC</h1>
                <div layout="row">
                    <div flex="45">
                        <h2>Introdução</h2>
                        <span class="home_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    </div>
                    <div flex="10">
                    </div>
                    <div flex="45">
                        <h2>Aviso de Confidencialidade</h2>
                        <span class="home_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    </div>
                </div>
                <div layout="row">
                    <div flex="100">
                        <h2>Documentação do Imatec</h2>
                        <span class="home_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    </div>
                </div>
                <div layout="row">
                    <div flex="100">
                        <span>A Agência Espacial Brasileira não tem vínculos com os dados inseridos neste sistema.</span>
                    </div>
                </div>
                <div layout="row">
                    <div flex="100">
                        <md-button ui-sref="login" class="md-accent ">Entrar</md-button>
                    </div>

                </div>

                <img src="resources/img/logo-aeb.png" class="aeb-logo" alt="" />



            </header>

        </section>

    </div>

</div>
